<div class="wrapper">
  <div class="container">
    <h1>THE ULTIMATE POWERLIFTING ROGRAM</h1>
    <h4>Tired of tirelessly spending 2 hours in the gym every day?</h4>
    <h4>Tired of not seeing the results promised in the commercials?</h4>
    <h1><strong>Worry no more!</strong></h1>
    <h2>Introducing revolutionary 5x5 powerlifting workout!</h2>
    <h3>3 x week</h3>
    <h3>No BS</h3>
    <h3>Results guaranteed</h3>

    <%= image_tag("http://i.imgur.com/zV1TbQl.png", alt: "book cover", class: "img-responsive") %>
    <br>
    <%= link_to "Click here to order", new_charge_path %>
  </div>
</div>
